.search__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  height: 50px;
  padding: 10px 15px;
  width: 600px;
  margin: 0px auto;
  margin-top: 40px;
  border-radius: 999px;
}

@media screen and (max-width: 600px) {
  .search__input {
    width: 90%;
  }
}

.search__input > input {
  flex: 1;
  padding: 8px 13px;
  font-size: medium;
  border: 0;
  outline: 0;
}

.searchicon {
  color: gray;
}

.search__buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.search__buttons > button {
  margin: 5px;
  background-color: #f8f8f8 !important;
  border: 1px solid #fff; ;
  color: #000;
  text-transform: inherit;
}

.search__buttons > button:hover{
    border: 1px solid #c6c6c6 ;
}
